
.block{
    margin-top: 20px;
    height: 300px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    border: 1px black solid;
    border-radius: 10px;
}

.heading{
    text-decoration: underline;
}

.charComp{
    display: inline-block;
    padding: 16px;
    text-align: center;
    margin: 16px;
    border: 1px solid black;
    cursor: pointer;
}

.blockBox{
    width: 800px;
    text-align: center;
}